/* Icon for Research Profile */
/* ref. site for icon: http://www.flaticon.com/ */
@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("../../../images/fonts/sl-welcome.eot#iefix") format("embedded-opentype"),
	     url("../../../images/fonts/sl-welcome.ttf") format("truetype");
}

.flaticon-research-profile:after {
	font-family: Flaticon;
	font-style: normal;
}

.flaticon-research-profile:after {
	content: "\e000";
}