body {
	font-family: arial;
	font-size: 11px;
}

/* Used after sub menu ULs to reset positioning to normal. */
.clear {
	clear: both
}

/* remove the list style (i.e. bullet headers) */
#menubar {
	margin: 0;
	padding: 0;
	list-style: none;
}

/* make the LIs display inline */
#menubar li {
	float: left;
	display: block;
	width: 15.5%;
	/* Fit 6 items on header as full screen width, without Log Out dropping to next line when narrowed. */
	position: relative;
	z-index: 500; /* z-index set to 500 to ensure it is always in front. */
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 1px;
	margin-left: 1px;
	background: #228032; /* Green, same colour as JIRA SL menu bar. */
}

/* Menu bar at the top of page. */
#menubar li a {
	display: block;
	/* Display as block element, i.e.: full-width and with line-break before and after. */
	padding-top: 8px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 5px;
	font-weight: 800; /* Increase number to increase boldness of text */
	height: 23px;
	text-decoration: none;
	text-align: Left;
	color: #292929; /* Near-Black */
}

/* Colour on-hover of top menubar item, e.g. Produce Reports */
#menubar li a:hover {
	color: #E8DB95; /* Pale Yellow */
	background: #363636; /* Dark grey */
}

/* Style for default selected value */
#menubar a.selected {
	color: #228032; /*Dark green */
	background: #ffffff; /* White */
}

/* dropdown menu */
#menubar ul {
	position: absolute;
	left: 0;
	display: none;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: -1px;
	padding: 0;
	list-style: none; /* No bullet point headers. */
}

/* dropdown menu items */
#menubar ul li {
	width: 100%;
	float: left;
	border-top: 1px solid #ffffff; /* White */
}

/* Fits anchor link to full width of dropdown menu. */
#menubar ul a {
	display: block;
	height: 15px;
	padding: 8px 5px;
	color: #003410; /* Dark Green text color, when not hovered over. */
	background: #30B547; /* Light Green, to contrast with top menubar */
}

/* Dropdown items onHover */
#menubar ul a:hover {
	text-decoration: none;
	color: #E8DB95; /* Pale Yellow */
	background: #696969;
	/* Grey Background, lighter than menubar onHover */
}