/* **************************************************************************
** Filename: sl_ccm_custom_report.css
** 
** Styling for CCM Custom Report Results Page.
**
** Author: Timothy O' Sullivan
**
** Last Updated: 04/02/2014.
** *************************************************************************/

/* -------------------------------------------------- */
/* Canvas to maintain visual consistency from 		  */
/* carousel main screen to reporting screens		  */
/* -------------------------------------------------- */
#sl-report-banner {
	position: relative;
	border-radius: 4px; /* round corner of rectangle */
	width: 100%;
	min-height: 20px;
	background: #077204;
}

/* -------------------------------------------------- */
/* container for entire report   			 		  */
/* -------------------------------------------------- */
#report-ccm-container {
	margin-top: 50px; 
	text-align: center; /* Centre-align all components, unless overridden individually */
}

#report-ccm-container h1 {
  font-size: 40px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  padding-bottom: 15px;
}

#report-ccm-container h4 {
  color: #077204;
  font-weight: bold;
  text-align: center;
}

/* -------------------------------------------------- */
/* HEADER ICON STYLING								  */
/* -------------------------------------------------- */
/* header icon */
.header-icon {
	font-size: 40px;
	color: #077204;
}

/* -------------------------------------------------- */
/* Style the tables as follows: 					  */
/* 													  */
/* 1. Add a border to all cells						  */
/* 2. Center the text in the table					  */
/* 3. Remember, we're also using jQuery Datatables	  */
/*	  to also initialise the table UI and 			  */
/*	  functionality									  */
/* 4. Highlight row background colour an change	      */
/*	  font colour when selected						  */
/* -------------------------------------------------- */

.sl-table-container {
	margin-top: 50px;
	margin-bottom: 50px;
}

.sl-table > thead > tr > th {
	text-align: center;
	font-size: 14px;
  	font-weight: bold;
}

.sl-table > thead > tr > td,
.sl-table > tbody > tr > td,
.sl-table > tfoot > tr > td {
	border: 1px solid #bbbbbb;
	font-size: 12px;
}

.sl-table > thead > tr > th,
.sl-table > thead > tr > td {
	border-bottom-width: 1px;
}

/* highlight row when selected */
.sl-table > tbody > tr.row_selected td 
{
	background-color: #077204;
	color: #FFFFFF;
}

/************************************************/
/* 				SYMPTOM TABLES 					*/
/************************************************/
/* Symtom Indicator Icons */
.indicator-icon {
	padding-bottom: 2px;
    text-shadow: 2px 2px 2px #ccc;
    font-size: 2.5em;
}

/* show negative indicators in red */
.negative-indicator-icon {
	color: red;
}

/* show positive indicators in green */
.positive-indicator-icon {
	color: #077204;
}


/************************************************/
/* 		'ASK-LOOK' SYMPTOM (PART 1) TABLE 		*/
/************************************************/
/* textual description cell */
#child-problems-cell {
	font-family: 'Nothing You Could Do', Arial;
	text-align: left;
	font-weight: bold;
	color: #000000;
	font-size: 12px;
	line-height: 14px;
}

/************************************************/
/* 		'ASK-LOOK' SYMPTOM (PART 2) TABLE 		*/
/************************************************/

/* cells that will contain a number */
#red-eye-duration-cell,
#difficulty-seeing-duration-cell {
	text-align: center;
	font-size: 30px;
	padding-bottom: 2px;
  	font-weight: bold;	
}

/* cell that will contain a number */
#breaths-per-minute-cell {
	text-align: center;
	font-size: 30px;
	padding-bottom: 2px;
  	font-weight: bold;	
}


/************************************************/
/* 		'LOOK' SYMPTOM TABLE 					*/
/************************************************/

/* cells that will contain a number */
#cough-duration-cell,
#diarrhoea-duration-cell,
#fever-duration-cell {
	text-align: center;
	font-size: 30px;
	padding-bottom: 2px;
  	font-weight: bold;	
}

/* -------------------------------------------------- */
/* RESPONSIVE CSS */
/* -------------------------------------------------- */

@media (max-width: 1200px) {
	
	#report-ccm-container {
		margin-top: 50px;
		text-align: center;
	}
}

/* this is the width point at which the navbar 	*/
/* collapses to the mobile look					*/
@media (max-width: 768px) {
	#report-ccm-container {
		margin-top: 68px; 
		text-align: center; /* Centre-align all components, unless overridden individually */
		padding-left: 0px;
		padding-right: 0px;
	}
}
