/* **************************************************************************
** Filename: sl_ccm_custom_report.css
** 
** Styling for CCM Custom Report Page.
**
** Author: James Flynn, Timothy O' Sullivan
**
** Last Updated: 22/01/2014.
** *************************************************************************/

/* -------------------------------------------------- */
/* */
/* -------------------------------------------------- */

/* tailor page header - if it works bring it out to universal css */


/* container for entire report form */
#report-ccm-container {
	margin-top: 70px;
	text-align: center; /* Centre-align all components, unless overridden individually */
}

#report-ccm-container h1 {
  font-size: 40px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
}

.form-group {
	margin-top: 50px;
}

/* container for national id, national health id, hsa user id  */
#patient-identifier-container {
	padding-top: 25px;
}

#patient-identifier-container input {
	 width: 200px;
}

/* container for assessment date range */
#assessment-date-container {
	padding-top: 25px;
}

#assessment-date-container input {
	 width: 200px;
}

#checkbox-list-container {
	margin-top: 25px;
}

/* -------------------------------------------------- */
/* Style the tables as follows: 					  */
/* 													  */
/* 1. Add a border to all cells						  */
/* 2. Center the text in the table					  */
/* 3. Remember, we're also using jQuery Datatables	  */
/*	  to also initialise the table UI and 			  */
/*	  functionality									  */
/*													  */
/* -------------------------------------------------- */

/* hide horizontal scroll-bar */
.sl-table {
	overflow-x: hidden;
	text-align: center;
}
 
.sl-table > thead > tr > th {
	text-align: center;
}

.sl-table > thead > tr > td,
.sl-table > tbody > tr > td,
.sl-table > tfoot > tr > td {
	border: 1px solid #bbbbbb;
}

.sl-table > thead > tr > th,
.sl-table > thead > tr > td {
	border-bottom-width: 1px;
}




