/* **************************************************************************
** Filename: sl_create_user_form.css
** 
** Styling for User Creation Form
**
** Author: Timothy O' Sullivan
**
** Last Updated: 20/11/2014.
** *************************************************************************/

/* -------------------------------------------------- */
/* container for entire user creation form	 		  */
/* -------------------------------------------------- */
#user-creation-container {
	margin-top: 50px; 
	text-align: center; /* Centre-align all components, unless overridden individually */
}

#user-creation-container h1 {
  font-size: 40px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  padding-bottom: 15px;
}

#user-welcome h1 {
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 0px;
}

#user-creation-form .control-label {
	width: 140px;
	text-align: left;
	margin-left: 30px;
}

#user-creation-form .input {
	text-align: left;
}

#userId {
	margin-bottom: 20px;
}

#password {
	margin-bottom: 20px;
}

#firstName {
	margin-bottom: 20px;
}

#surname {
	margin-bottom: 20px;
}

.checkboxes {
	text-align: center;
	margin-left: 20px;
	margin-right: 20px;
}

#submit-button, #reset-button {
	margin-top: 15px;
}

/* -------------------------------------------------- */
/* Canvas to maintain visual consistency from 		  */
/* carousel main screen to reporting screens		  */
/* -------------------------------------------------- */
#sl-banner {
	position: relative;
	border-radius: 4px; /* round corner of rectangle */
	width: 100%;
	min-height: 20px;
	background: #077204;
}

/* -------------------------------------------------- */
/* User Id Valid Icon					  			  */
/* -------------------------------------------------- */
#valid-userid-icon {
	font-size: 20px;
	color: #077204;  /* SL Green */
	padding-left: 5px;
}

/* -------------------------------------------------- */
/* User Id Invalid Icon					  			  */
/* -------------------------------------------------- */
#invalid-userid-icon {
	font-size: 20px;
	color: #FF0000;  /* red */
	padding-left: 5px;
}

/* -------------------------------------------------- */
/* Customise the colour of the form validation		  */
/* messages presented to the user					  */
/* -------------------------------------------------- */
.error {
	color: #FF0000;  /* red */
}

.valid {
    color:#000000; /* black */
}

/* -------------------------------------------------- */
/* RESPONSIVE CSS */
/* -------------------------------------------------- */

@media (max-width: 1200px) {
	#user-creation-container {
		margin-top: 50px;
		text-align: center;
	}
	
	.input-group {
		display: block;
	}
}

/* this is the width point at which the navbar 	*/
/* collapses to the mobile look					*/
@media (max-width: 768px) {
	#user-creation-container {
		margin-top: 68px; 
		text-align: center; /* Centre-align all components, unless overridden individually */
		padding-left: 0px;
		padding-right: 0px;
	}
	
	.input-group {
		display: block;
	}
}
