/* **************************************************************************
** Filename: sl_ccm_custom_report.css
** 
** Styling for CCM Custom Report Page.
**
** Author: James Flynn.
**
** Last Updated: 08/01/2014.
** *************************************************************************/

body {
	text-align:center; /* Centre-align all components, unless overridden individually. */
}

h1 {
	color:#363636; /* Dark grey. */
	font-size:2.5em; /* Standard size of h1 = 2em. */
	padding-top:40px;
}

/* Header used within checkbox list divs. */
h2 {
	position:relative; /* Ensures that checkboxes horizontally align properly across all the divs. */
	color: #228032; /* Green, same colour as sl_header top level menu bar. */
	width:32%; /* Matches size of div, ensuring text wraps. */
	text-align:left;
}

/* Container for all report form. */
.report_ccm_container {
	width:93%; /* Matches report_checkbox_lists Div. */	
}

/* Div containing 'National ID', 'National Health ID' and 'HSA User' fields. */
.report_ccm_id {
	border-style:none;
	padding-top:5px;
	padding-bottom:5px;
}

/* Div containing 'From' and 'To' Date Pickers */
.report_ccm_dates {
	border-style:none;
	padding-top:5px;
	padding-bottom:5px;
}

/* Table containing inputs, used in Divs not containing checkboxes. */
.input_table {
	width:99%;
	text-align:right;
	margin-bottom:10px;
}

/* Table field containing input values. */
.input_table td {
	width:33%;
}

/* Span containing 'From' Date Picker */
#report_ccm_dates_from {
	margin-left: 5%;
}

/* Span containing 'To' Date Picker */
#report_ccm_dates_to {
	margin-left: 5%;
}

/* Parent Div containing 'ASK and LOOK Assessment Symptom', 'Classification' and 'Classification Type' checkbox divs. */
.report_ccm_checkbox_lists {
	 overflow: hidden;   /* so that all child divs are of the same size. */
}
/* Div containing 'ASK and LOOK Assessment Symptom' checkboxes. */
.report_ccm_checkbox_list {
	overflow: hidden
	padding-top:5px;
	padding-bottom:5px;
	padding-left:10px;
	padding-right:10px;
	width:32%; /* Ensures that last checkbox div does not drop below other checkbox divs. */
	min-height:500px; /* Assign minimum height. */
	float:left;
	border-collapse: collapse;
    border: 1px solid #228032; /* Green, same colour as JIRA SL menu bar. */
}

.report_ccm_checkbox_list_header {
	font-size: 20px;
    line-height: 40px;
    color: #228032; /* Green, same colour as JIRA SL menu bar. */
}

/* Checkboxes with Checkbox UL */
.report_ccm_checkbox_list input {
	float:right; /* Ensures that checkboxes are aligned at RHS of div. */
}

/* Div containing 'Generate Report' submit button. */
.report_ccm_generate_report {
	clear:both; /* Overrides float:right. Ensures that 'Generate Report' button is located below checkboxes, and not alongside. */
	margin-top:30px;
}

#generate_excel_button {
	background-color:#BCCC61; /* Pale green. */
}

#generate_pdf_button {	
	background-color:#FFFE93; /* Pale yellow. */
}

#clear_fields_button {
	margin-left: 30px;
	background-color:#D3DEFF; /* Sky blue. */
}