/* **************************************************************************
** Filename: sl_footer.css
** 
** Styling for footer
**
** Author: Timothy O Sullivan
**
** Last Updated: 20/01/2014.
** *************************************************************************/

/* -------------------------------------------------- */
/* Built on Cloudbees Logo						 	  */
/* -------------------------------------------------- */

#built-on-cloudbees-image {
	margin-top: 0px;
	float: left;
	padding-right: 25px;
	height: 60px;
	width: 150px;
}

/* -------------------------------------------------- */
/* EU Logo										 	  */
/* -------------------------------------------------- */

#eu-logo-image {
	margin-top: 10px;
	float: right;
	padding-right: 25px;
}

#eu-logo-text-container {
	padding-right: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

#eu-logo-text-container .col-md-2 {
	padding-right: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

#eu-logo-text {
	margin-top: 5px;
	font-family: sans-serif;
	font-style: italic;
	font-size: 8px;
	text-align: justify;
	float: right;
}

/* -------------------------------------------------- */
/* Ensure space between body content and footer 	  */
/* -------------------------------------------------- */
#footer-link {
	margin-top: 20px;
	text-align: left;
}

/* -------------------------------------------------- */
/*													  */
/* NOTE: This is a hack needed to ensure the navbar	  */
/*		 remains in the same position between pages.  */
/*													  */
/*		 Not the most elegant, but this margin size	  */
/*		 appeared to have an influence on the 		  */
/*		 movement. To ensure all pages will correctly */
/*		 align the navbar, the necessary row-divider  */
/*		 was added to the sl_footer.jspf and this 	  */
/*		 css style was added to sl_footer.css		  */
/*													  */
/* -------------------------------------------------- */

#footer-featurette-divider {
  margin-top: 0px;
  margin-bottom: 5px;
}