/* **************************************************************************
** Filename: sl_global.css
** 
** Global Styling
**
** Author: Timothy O Sullivan
**
** Last Updated: 27/01/2014.
** *************************************************************************/

/* -------------------------------------------------- */
/* GLOBAL STYLES */
/* -------------------------------------------------- */

/* custom center style so we can add this class to */
/* elements we wish to center 					   */
.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

/* Padding below the footer and lighter body text */
body {
  padding-bottom: 40px;
  color: #5a5a5a;
  text-align: center;
}

/* General tool-tip styling */
.tooltip.top .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-bottom-color: #5a5a5a; /* grey */
  border-width: 0 5px 5px;
}

.disabled > a {
	color: white;
}

.dropdown-menu > .disabled > a {
	color: #333333;
}
