/* **************************************************************************
** Filename: sl_header.css
** 
** Styling for header (e.g. menu bar).
**
** Author: James Flynn
**
** Last Updated: 07/01/2014.
** *************************************************************************/

body {
	font-family: arial;
	font-size: 11px;
}

/* Positions menubar as absolute, so that text below bar is not moved when a submenu opens. */
nav {
	position: absolute;
	width: 100%;
}

/****************************************************************************/

/* Top Level Menu Bar */
.topLevelMenuBar {
	display: block;
	margin: 0;
	padding: 0;
	list-style: none; /* remove the list style (i.e. bullet headers) */
}

/* Top Level Menu Bar List Item */
.topLevelMenuBar > li {
	float: left;
	display: block;
	width: 15.5%; /* Fit 6 items on header as full screen width, without 'Log Out' dropping to next line when narrowed. */
	position: relative;
	z-index: 500; /* z-index set to 500 to ensure it is always in front. */
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 1px;
	margin-left: 1px;
	background: #228032; /* Green, same colour as JIRA SL menu bar. */
}

/* Top Level Menu Bar List Item Anchor */
.topLevelMenuBar > li > a {
	display: block; /* Display as block element, i.e.: full-width and with line-break before and after. */
	padding-top: 8px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 5px;
	font-weight: 800; /* Increase number to increase boldness of text */
	height: 23px;
	text-decoration: none;
	text-align: Left;
	color: #292929; /* Near-Black */
}

/* Style when Hovering on Top Level Menu Bar List Item Anchor */
.topLevelMenuBar > li > a:hover {
	color: #E8DB95; /* Pale Yellow */
	font-weight: 800; /* Increase number to increase boldness of text */
	background: #363636; /* Dark grey */
	text-decoration: none;
}

/* Style when Top Level Menu Bar List Item Anchor is Selected. */
.topLevelMenuBar > li > a.selected {
	color: #228032; /*Dark green */
	font-weight: 800; /* Increase number to increase boldness of text */
	background: #ffffff; /* White */
}

/* Disabled buttons on navbar. */
.topLevelMenuBar > li.disabledButton > a {
	color:#777777; /* Light grey. */
	background: #B2F292; /* Pale Green. */
}

/****************************************************************************/

/* Second Level Menu Bar */
.secondLevelMenuBar {
	position: absolute;
	left: 0;
	display: none;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 1px;
	margin-left: 1px;
	padding: 0;
	list-style: none; /* No bullet point headers. */
}

/* Second Level Menu Bar List Item */
.secondLevelMenuBar > li {
	width: 100%;
	float: left;
	z-index: 499; /* z-index set to 499 to ensure it is in front of everything except the Top Level Menu Bar. */
	border-top: 1px solid #ffffff; /* White */
}

/* Second Level Menu Bar List Item Anchor */
.secondLevelMenuBar > li > a {
	display: block;
	height: 15px;
	padding: 8px 5px;
	font-weight: 600; /* Increase number to increase boldness of text */
	color: #003410; /* Dark Green text color, when not hovered over. */
	background: #30B547; /* Light Green, to contrast with the Top Level Menu Bar */
	text-decoration: none;
}

/* Style when Hovering on Second Level Menu Bar List Item Anchor */
.secondLevelMenuBar > li > a:hover {
	text-decoration: none;
	color: #E8DB95; /* Pale Yellow */
	font-weight: 600; /* Increase number to increase boldness of text */
	background: #696969; /* Grey Background, lighter than levelOne onHover */
}

/****************************************************************************/

/* Third Level Menu Bar */
.thirdLevelMenuBar {
	display: none;
	position: relative;
	left: 100%; /* Start position of the submenu, where 100% = RH edge of the Second Level Menu Bar. */
	z-index: 498; /* z-index set to 498 to ensure it is always in front of everything except the two parent menus. */
	margin-top: -32px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: -40px;
	padding: 0;
	list-style: none; /* No bullet point headers. */
}

/* Third Level Menu Bar List Item */
.thirdLevelMenuBar > li {
	width: 100%;
	float: left;
	border-top: 1px solid #ffffff; /* White */
	border-left: 1px solid #ffffff; /* White */
	margin-left: 40px;
}

/* Third Level Menu Bar List Item Anchor */
.thirdLevelMenuBar > li > a {
	height: 15px;
	padding: 8px 5px;
	color: #003410; /* Dark Green text color, when not hovered over. */
	font-weight: 600; /* Increase number to increase boldness of text */
	background: #30B547; /* Light Green, to contrast with Top Level Menu Bar */
	text-decoration: none;
}

/* Style when Hovering on Third Level Menu Bar List Item Anchor */
.thirdLevelMenuBar > li:hover a{
	text-decoration: none;
	color: #E8DB95; /* Pale Yellow */
	font-weight: 600; /* Increase number to increase boldness of text */
	background: #696969; /* Grey Background, lighter than the Second Level Menu Bar onHover */	
}

/****************************************************************************/

.mainPageContent {
	padding-top: 30px; /* ensure that main menubar does not overlap text, due to absolute positioning. */
}