/* **************************************************************************
** Filename: sl_login.css
** 
** Styling for SL Login Form.
**
** Author: Timothy O' Sullivan
**
** Last Updated: 18/11/2014.
** *************************************************************************/

/* -------------------------------------------------- */
/* container for entire report form			 		  */
/* -------------------------------------------------- */
#login-container {
	margin-top: 50px; 
	text-align: center; /* Centre-align all components, unless overridden individually */
}

#login-container h1 {
  font-size: 40px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  padding-bottom: 5px;
}

/* -------------------------------------------------- */
/* Canvas to maintain visual consistency from 		  */
/* carousel main screen to login screen				  */
/* -------------------------------------------------- */
#sl-login-banner {
	position: relative;
	border-radius: 4px; /* round corner of rectangle */
	width: 100%;
	min-height: 20px;
	background: #077204;
}

/* -------------------------------------------------- */
/* Login Form										  */
/* -------------------------------------------------- */

#login-form {
	margin-top: 50px;
	text-align: center;
}

#username {
	margin-bottom: 20px;
}

#password {
	margin-bottom: 20px;
}

#remember_me {
	margin-bottom: 20px;
}


/* -------------------------------------------------- */
/* Customise the colour of the submit button		  */
/* to match SL colour scheme						  */
/* -------------------------------------------------- */
.btn-success {
	background-color: #077204;
}

/* -------------------------------------------------- */
/* Customise the colour of the form validation		  */
/* messages presented to the user					  */
/* -------------------------------------------------- */
.error {
	color: #FF0000;  /* red */
}

.valid {
    color:#000000; /* black */
}

/* -------------------------------------------------- */
/* RESPONSIVE CSS */
/* -------------------------------------------------- */

@media (max-width: 1200px) {
	
	#login-container {
		margin-top: 50px;
		text-align: center;
	}

}

/* this is the width point at which the navbar 	*/
/* collapses to the mobile look					*/
@media (max-width: 768px) {
	#login-container {
		margin-top: 68px; 
		text-align: center; /* Centre-align all components, unless overridden individually */
		padding-left: 0px;
		padding-right: 0px;
	}
}
