/* -------------------------------------------------- */
/* CUSTOMIZE THE NAVBAR */
/* -------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
	position: fixed;
	margin-top: 0px;
	margin-bottom: 0px;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-left: 0;
  padding-right: 0;
}

.navbar-wrapper .navbar {
  padding-left: 15px;
  padding-right: 15px;
  min-height:32px !important;
  margin-bottom: 0px;
}

.navbar-wrapper .navbar .navbar-header label {
  font-size: 18px;
  color: #ffd700; /* gold */
  padding-top:5px !important;
  padding-bottom:0px !important;
}

/* home icon */
#home-icon {
	font-size: 16px;
}

/* -------------------------------------------------- */
/* RESPONSIVE CSS */
/* -------------------------------------------------- */
@media (max-width: 1200px) {

/* At this width, we need to reduce the navbar brand so it 		*/
/* displays appropriately with the menu bar items which have 	*/
/* not yet collapsed and are displaying full length 			*/
	.navbar-wrapper .navbar .navbar-header label {
	  font-size: 18px;
	  padding-top:5px !important;
	}
}


@media (min-width: 768px) {

  /* Navbar positioning foo */
 	.navbar-wrapper {
		position: fixed;
		margin-top: 0px;
		margin-bottom: 0px;
		top: 0;
		left: 0;
		right: 0;
		z-index: 1000;
  	}

	.navbar-wrapper .container {
    	padding-left:  15px;
		padding-right: 15px;
	}

	.navbar-wrapper .navbar {
		padding-left:  0;
		padding-right: 0;
	}

	.navbar-nav > li > a {
		margin-right: 15px;
		margin-left: 0px;
	}

	/* The navbar becomes detached from the top, so we round the corners */
	.navbar-wrapper .navbar {
		margin-bottom: 0px;
		border-radius: 4px;
	}

	.navbar-brand {
		height: auto;
	}
}

/* this is the width point at which the navbar 	*/
/* collapses to the mobile look					*/
@media (max-width: 767px) {
	.navbar-toggle {
		margin-right: 0px;
	}
}


/* this is the width point at which the navbar 	*/
/* collapses to the mobile look					*/
@media (max-width: 1000px) {
	.navbar-wrapper .navbar .navbar-header label {
	  padding-top: 25px !important;
	  padding-bottom: 0px !important;
	}
	
	.navbar-wrapper .navbar .navbar-header  {
		margin-right: 15px;
	}
}
