/* **************************************************************************
** Filename: sl_surveillance.css
** 
** Styling for SL Disease Surveillance Page.
**
** Author: Timothy O'Sullivan
**
** Last Updated: 21/07/2014.
** *************************************************************************/

/* -------------------------------------------------- */
/* container for entire report form			 		  */
/* -------------------------------------------------- */
#surveillance-container {
	margin-top: 50px; 
	text-align: center; /* Centre-align all components, unless overridden individually */
}

#surveillance-container h1 {
  font-size: 40px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  padding-bottom: 15px;
}

#user-welcome h1 {
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 0px;
}

#user-identifier {
	font-weight: bold;
	color: #077204;
}

#surveillance-map {
	height: 500px;
}

/* -------------------------------------------------- */
/* Canvas to maintain visual consistency from 		  */
/* carousel main screen to reporting screens		  */
/* -------------------------------------------------- */
#sl-report-banner {
	position: relative;
	border-radius: 4px; /* round corner of rectangle */
	width: 100%;
	min-height: 20px;
	background: #077204;
}

/* -------------------------------------------------- */
/* Header and footer wrapper on surveillance map	  */
/* -------------------------------------------------- */
#sl-surveillance-map-separator {
	position: relative;
	border-radius: 4px; /* round corner of rectangle */
	width: 100%;
	min-height: 20px;
	background: #077204;
}

/* -------------------------------------------------- */
/* User selection criteria for surveillance map		  */
/* -------------------------------------------------- */
#surveillance-selection-criteria {
	border-radius: 6px; /* round corner of rectangle */
	border-color: #077204;
	border-width: 1.75px;
	border-style: solid;
	padding-bottom: 10px;
	padding-top: 10px;
	margin-top: 25px;
	margin-bottom: 25px;
	margin-right: 25px;
	margin-left: 25px;
}

#surveillance-start-container {
	border-radius: 6px; /* round corner of rectangle */
	border-color: #077204;
	border-width: 1.75px;
	border-style: solid;
	margin-bottom: 15px;
	margin-top: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	text-align:center;
}

#surveillance-start-container .input-group {
	display: inline-table;
	padding-right: 10px;
}

#surveillance-end-container {
	border-radius: 6px; /* round corner of rectangle */
	border-color: #077204;
	border-width: 1.75px;
	border-style: solid;
	margin-bottom: 15px;
	margin-top: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	text-align:center;
}

#surveillance-end-container .input-group {
	display: inline-table;
	padding-right: 10px;
}

/* -------------------------------------------------- */
/* RESPONSIVE CSS */
/* -------------------------------------------------- */

@media (max-width: 1200px) {

	#surveillance-container {
		margin-top: 50px;
		text-align: center;
		width: auto;
	}
		
	#surveillance-start-container {
		width: auto;
	}
	
	#surveillance-start-container .input-group {
		width: auto;
	}
		
	#surveillance-end-container {
		width: auto;
	}

	#surveillance-end-container .input-group {
		width: auto;
	}
}

/* this is the width point at which the navbar 	*/
/* collapses to the mobile look					*/
@media (max-width: 768px) {
	#surveillance-container {
		margin-top: 68px; 
		text-align: center; /* Centre-align all components, unless overridden individually */
		padding-left: 0px;
		padding-right: 0px;
	}
	
	#surveillance-start-container {
		width: auto;
	}
	
	#surveillance-start-container .input-group {
		width: auto;
	}
		
	#surveillance-end-container {
		width: auto;
	}

	#surveillance-end-container .input-group {
		width: auto;
	}
}
