/* **************************************************************************
** Filename: sl_welcome.css
** 
** Styling for Welcome screen
**
** Author: Timothy O Sullivan
**
** Last Updated: 20/01/2014.
** *************************************************************************/

/* Create modifier classes to facilitate manipulation of glyphicon size */
.glyphicon {
    font-size: 30px; 
}
.glyphicon-2x{
    font-size: 60px; 
}
.glyphicon-5x{
    font-size: 150px; 
}

/* phone icon */
#android-phone {
	font-size: 24px;
}