/* **************************************************************************
** Filename: sl_welcome.css
** 
** Styling for Welcome screen
**
** Author: Timothy O Sullivan
**
** Last Updated: 20/01/2014.
** *************************************************************************/

/* -------------------------------------------------- */
/* CUSTOMIZE THE CAROUSEL 							  */
/* -------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 80px;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  margin-bottom: 60px;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

.carousel h1 {
  font-size: 80px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
}

.carousel h2 {
  font-size: 60px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
}

.carousel p {
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #ffffff;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
}

/* -------------------------------------------------- */
/* MARKETING CONTENT */
/* -------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-left: 15px;
  padding-right: 15px;
}

.marketing h3 {
  font-size: 25px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  text-align: center;
  margin-bottom: 20px;
}

.marketing .col-lg-4 p {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 14px;
  text-align: justify;
}

/* -------------------------------------------------- */
/* Featurettes */
/* -------------------------------------------------- */

/* Thin out the marketing headings */

.featurette h1 {
  font-size: 40px;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 1;
}

.featurette h2 {
  font-size: 20px;
  font-weight: 300;
  color: #077204;
  letter-spacing: -1px;
  line-height: 1;
}

.featurette h3 {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: -1px;
  line-height: 1;
}

.featurette p {
  font-size: 14px;
  text-align: justify;
}

/* -------------------------------------------------- */
/* Video Carousel */
/* -------------------------------------------------- */

#videoCarousel  {
	height: 300px;
	margin-bottom: 0px;
}

#videoCarousel .carousel-inner .item {
	padding-top: 50px;
	padding-bottom: 50px;
	margin-bottom: 0px;
	height: 300px;
}

#videoCarousel .carousel-caption {
  z-index: 10;
  margin-bottom: -40px;
  color: #ffd700; /* gold */
}

/* -------------------------------------------------- */
/* Create modifier classes to facilitate manipulation 
   of fontawesome icons */
/* -------------------------------------------------- */

/* phone icon */
#android-phone-icon {
	font-size: 24px;
}

/* medic icon */
#medic-icon {
	font-size: 150px;
}

/* globe icon */
#globe-icon {
	font-size: 150px;
}

/* healthcare icon */
#healthcare-icon {
	font-size: 150px;
}


/* -------------------------------------------------- */
/* GitHub - Join the Coding Adventure				  */
/* -------------------------------------------------- */

/* remove the underline on html links showing when hovering over icons */
#github-icon-container a {
    text-decoration: none !important;
}

/* github icon */
#github-icon {
	padding-top: 50px;
	text-align: center;
	font-size: 250px;
	color: #777;
}

#github-icon:hover {
	color:  #077204;
}

/* -------------------------------------------------- */
/* Technology Knowledge Base						  */
/* -------------------------------------------------- */

/* remove the underline on html links showing when hovering over icons */
#knowledge-base-icon-container a {
    text-decoration: none !important;
}

/* -------------------------------------------------- */
/* TEAM MAP 										  */
/* -------------------------------------------------- */
#team-map {
	height: 380px;
}

/* prevents scrollbars on google map pop-up */
.map-scroll-fix {
	max-height: 90px;
	overflow: hidden !important;
	line-height: 1.5;
	white-space: nowrap;
}

/* -------------------------------------------------- */
/* TEAM MEMBER PARTNER ACCORDION					  */
/* -------------------------------------------------- */

.team-member-header img {
	float: left;
	margin-top: 40px;
	margin-bottom: 10px;
	margin-left: 10px;
	
	height: 130px;
	width: 100px;
	
	/* rounded corners */
    background: #FFFFFF;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0px 0px 20px #888;
	
	/*this filter is for Firefox for SVG image, NOT working for other image format (yet)*/
	filter: grayscale(1);
	/*this filter is for Webkit browser, for any image format (probably)*/
	-webkit-filter: grayscale(1);
}

.team-member-header .fa-user {
	float: left;
	margin-top: 40px;
	margin-bottom: 10px;
	margin-left: 10px;
	font-size: 100px;
}

.team-member-body .header-text {
	text-align: left;
	margin-top: 40px;
}

.team-member-body .header-text h5 {
	color: #007bb6;
	font-weight: bold;
}

.team-member-body .header-text h6 {
	color: #077204;
	font-weight: bold;
}


.team-member-body .fa-linkedin-square {
	float: left;
	font-size: 30px;
	padding-right: 10px;
	color: #007bb6;
	transition: all 0.2s ease-in-out;
}

.team-member-body .fa-linkedin-square:hover {
	opacity: .7;
}

.team-member-body .flaticon-research-profile {
	float: left;
	font-size: 30px;
	color: red;
	transition: all 0.2s ease-in-out;
}

.team-member-body .flaticon-research-profile:hover {
	opacity: .7;
}


/* -------------------------------------------------- */
/* MEDIA UPDATES									  */
/* -------------------------------------------------- */
#social-media-updates {
	margin-bottom: 20px;
}

/* used to make facebook feed ui responsive */
#facebook-wrapper * {
   width: 100% !important;
}

/* configure fontawesome icons on each of the social media feeds */
#facebook-icon {
	text-align: center;
    font-size: 50px;
	color: #3B5998;
}

#google-plus-icon {
	text-align: center;
    font-size: 46px;
	color: #d34836;
	font-weight: bold;
	padding-bottom: 4px;
}

#twitter-icon {
	text-align: center;
    font-size: 50px;
	color: #00a0d1;
	font-weight: bold;
}

.twitter-timeline {
	max-height: 425px;
}

/* -------------------------------------------------- */
/* SOCIAL MEDIA FOLLOW OPTIONS						  */
/* -------------------------------------------------- */
/* remove the underline on html links showing when hovering over icons */
#social-media-follow-options a {
    text-decoration: none !important;
}

#social-media-follow-options {
	text-align: center;
	color: #5a5a5a;
}

.social-media-follow-roll {
	margin: 10px;
	border-radius: 50%;
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	-ms-transition: all ease 0.3s;
	transition: all ease 0.3s;
}

.social-media-follow-roll:hover {
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-o-transform:rotate(360deg);
	-ms-transform:rotate(360deg);
	transform:rotate(360deg);
}

/* facebook follow icon */ 
#facebook-follow-icon .fa-circle {
	color: #5a5a5a;
}

#facebook-follow-icon .fa-facebook {
	color: white;
}

/* google+ follow icon */ 
#google-plus-follow-icon .fa-circle {
	color: #5a5a5a;
}

#google-plus-follow-icon .fa-google-plus {
	color: white;
}

/* twitter follow icon */ 
#twitter-follow-icon .fa-circle {
	color: #5a5a5a;
}

#twitter-follow-icon .fa-twitter {
	color: white;
}

/* -------------------------------------------------- */
/* FIND OUT MORE (NEWSLETTER / CONTACT US)			  */
/* -------------------------------------------------- */

/* center the navigation tabs */
.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
}

#newsletter-details {
	background: url("../../images/find-out-more-background.png");
	height: 400px;
	background-size: 100%; /* size the background image at 100% like any responsive img tag */
    background-position: top center;
    background-repeat:no-repeat;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -khtml-border-radius: 20px;
    -webkit-border-radius: 20px;
}

#newsletter-details div h3 {
	margin-top: 40px;
	color: #077204;
}

#newsletter-details .input-group {
	margin-bottom: 5px;
	margin-top: 5px;
	width: 100%;
}

/* size the width of the icon addon to be the same on the 'contact details' form */
#newsletter-details .input-group-addon {
	min-width: 50px;
	font-size: 20px;
}

#subscribe-button {
	margin-top: 10px;
	margin-bottom: 20px;
}

#contact-us-details {
	background: url("../../images/find-out-more-background.png");
	height: 400px;
	background-size: 100%; /* size the background image at 100% like any responsive img tag */
    background-position: top center;
    background-repeat:no-repeat;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -khtml-border-radius: 20px;
    -webkit-border-radius: 20px;
}

.contact-us-top-level-item {
	margin-top: 40px;
	margin-bottom: 10px;
	width: 100%;
}

.contact-us-standard-level-item {
	margin-bottom: 10px;
	margin-top: 10px;
	width: 100%;
}

/* size the width of the icon addon to be the same on the 'contact details' form */
#contact-us-details .input-group-addon {
	min-width: 50px;
	font-size: 20px;
}

#contact-us-button {
	margin-top: 10px;
	margin-bottom: 20px;
}

/* -------------------------------------------------- */
/* RESPONSIVE CSS */
/* -------------------------------------------------- */
@media (min-width: 768px) {

  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }

}
